:root {
    --orange: #FF983B;
    -thin: 400;
    --medium-thick: 500;
    --almost-thick: 600;
    --thick: 700;
    --shadow-one: 0px 4px 10px rgba(196, 196, 196, 0.15);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'DM Sans', sans-serif;
}

body {
    font-weight: var(--thin);
    font-size: 14px;
    font-family: 'DM Sans', sans-serif !important;
}

h1 {
    font-weight: var(--thick);
}

h2,
h3 {
    font-weight: var(--almost-thick)
}

li {
    list-style: none;
}

.navigation-section ul li:hover,
.navigation-section ul li:active,
.active {
    border-top: 4px solid var(--orange);
    color: var(--orange);
}

.hamburger {
    position: relative;
    width: 39px;
    height: 17px;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.hamburger span {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    background-color: var(--orange);
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.item-one {
    top: 0px;
}

.hamburger.clicked .item-one {
    top: 8px;
    transform: rotate(135deg);
}

.item-two {
    margin-top: 10px;
    display: none;
}

.hamburger.clicked .item-two {
    opacity: 0;
    left: -60px;
}

.item-three {
    margin-top: 20px;
    transition: transform .5s;
}

.hamburger.clicked .item-three {
    top: -12px;
    transform: rotate(-135deg);
}

.nav {
    border-bottom: none;
}

.navigation-section {
    display: none;
}

.navigation-section.clicked {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    z-index: 99;
    position: absolute;
    top: 68px;
    background: #fff;
    width: 90%;
    left: 5%;
}

.big-background {
    position: absolute;
    left: 0;
    background-image: url(../../images/two-sandwiches-with-salad-ham-cheese-HWBY3U2\ 1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 42vh;
}

.big-background p {
    line-height: 5PX;
}

main {
    position: relative;
    top: 18rem;
}

.orange {
    color: var(--orange);
}

.heading_words h2 {
    font-size: 28px;
}

.btn {
    background-color: var(--orange);
    color: #fff;
}

.menu-btn {
    overflow: hidden;
    font-size: 14px;
    padding: 4px 0;
    height: 50px;
    width: 190px;
}

.btn:hover {
    color: var(--orange);
    background: #fff;
    border: 2px solid var(--orange);
    font-weight: normal;
    font-style: normal;
}

.products article {
    margin-bottom: 1.5rem;
}

.booking {
    flex-direction: column;
}

.booking-words_heading p {
    font-weight: var(--almost-thick);
    color: black;
}

.card {
    padding: 0;
    box-shadow: var(--shadow-one);
    margin-bottom: 1.5rem;
}

.card img {
    filter: drop-shadow(0px 4px 10px rgba(196, 196, 196, 0.15));
}

.card-text h2 {
    font-size: 16px;
}

footer {
    top: 22rem;
}

.hidden {
    display: none;
}

.email-section {
    background: #EEF1F6;
    padding-top: 1.5rem;
    margin-bottom: 35px;
}

.email-section h2 {
    font-size: 24px;
}

.form-group {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card-deck {
    margin: 0;
    padding: 0;
    /*setting back to default values for card alignment*/
}

.boxed-product {
    width: 100%;
    transition: all .5s ease-in-out;
}

.carousel-section {
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.carousel-section-inner {
    width: 80%;
    align-self: center;
    justify-self: center;
}

.carousel-item.active {
    border-top: none;
}

input[type="email"] {
    width: 80%;
    margin-bottom: 10px;
}

.main-footer {
    background: var(--orange);
    color: #fff;
    padding: 1.5rem;
}

.attribution-section a,
.attribution-section a:hover,
.atribution-section a:focus {
    color: black;
    font-weight: var(--almost-thick);
    text-decoration: none;
}

.attribution-section a {
    text-shadow: 2px 12px 10px #fff;
}

a::before {
    content: '';
    border-bottom: 2px solid #fff;
}

.social-icons span {
    margin-right: 10px;
}

.social-icons span img {
    width: 30px;
    height: 30px;
}

@media (min-width: 630px) {
    .hidden,
    .navigation-section {
        display: block;
    }
    .navigation-section ul {
        display: flex;
        flex-direction: row;
    }
    .hamburger {
        display: none;
    }
    .carousel-inner {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: 100%;
        overflow-y: hidden;
    }
    .menu-btn {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .hidden:nth-child(3),
    .hidden:nth-child(4) {
        display: none;
    }
    .booking {
        margin-top: 35px !important;
        flex-direction: row;
    }
    .big-background h1 {
        width: 50%;
    }
    .big-background p {
        line-height: 9px;
    }
    .menu {
        margin-bottom: 85px;
    }
    .form-group {
        flex-direction: row;
    }
    input[type="email"] {
        width: 60%;
        outline: none;
        margin-right: 10px;
    }
    button {
        margin-bottom: 8px;
    }
    .main-footer {
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    .main-footer ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .main-footer ul li {
        padding-right: 10px;
        padding-left: 10px;
    }
    .big {
        padding-left: 5rem !important;
    }
    .boxed-product {
        margin-left: 1rem;
        width: 100%;
    }
    .boxed-product:hover {
        transform: scale(1.2);
    }
}

@media (min-width: 992px) {
    .navigation-section ul li {
        padding-left: 20px;
        padding-right: 20px;
    }
    .carousel-inner {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: 100%;
        overflow-y: hidden;
    }
    main {
        top: 32rem;
    }
    .big-background {
        height: 500px;
    }
    .big-background h1 {
        font-size: 58px;
    }
    .big-background div {
        margin-top: 15px
    }
    .big-background div p {
        font-size: 18px;
        font-weight: 500;
    }
    .position-relative {
        top: 40rem;
    }
}

@media (min-width: 1200px) {
    .hidden:nth-child(3),
    .hidden:nth-child(4) {
        display: block;
    }
    .big-background h1 {
        margin-top: 85px;
    }
    .big {
        padding-left: 12rem !important;
    }
}